<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Employee Management.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F23FD9751EBB6DE300ACF004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23FD98C1EBB6DE300ACF004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F23FD9971EBB6DE300ACF004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
